h1{color: black;}

.dataframe{text-align: left;color: black;}
.tr{text-align: left;}
.search{position:relative;background-color: gray;align-items: center;display: flex;justify-content: space-around;height: 300px;}
input{left: 100px;}
.id1{position: absolute;top:0px; color: white;}
label{color: white;}
tr{wrap-text: word-wrap;}
td{}
